/* work sans google font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared style  */
* {
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
.text-light-gray {
  color: #727272;
}

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style-type: none;
  /* margin-left: 30px; */
}
nav > ul > li > a {
  text-decoration: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}
/*banner style*/

.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  color: #131313;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 700;
}
.banner-desc {
  text-align: center;
}
.banner-img {
  margin-top: 25px;
  width: 100%;
}
/* Main section style  */
main {
  max-width: 1440px;
  margin: 70px auto;
}
.teams-container {
  display: flex;
  align-items: center;
}
.left-4-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.left-4-img img {
  width: 100%;
}
.right-text {
  /* width: 50%; */
  padding-left: 70px;
  padding-right: 70px;
}
.right-text-title {
  color: #727272;
  font-size: 2.9rem;
  font-weight: 500;
}
.span1 {
  color: #131313;
  font-size: 2.9rem;
  font-weight: 700;
}
.span2 {
  color: #ff900e;
  font-size: 2.9rem;
  font-weight: 700;
}

/* responsive style  */
/* Mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  nav > ul,
  .teams-container {
    flex-direction: column;
  }

  .left-4-img {
    grid-template-columns: 1fr;
  }
  .right-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
  }

  nav,
  .teams-container {
    flex-direction: column;
  }
}
