/* work sans google font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared style  */
* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
.text-light-gray {
  color: #727272;
}
.section-title {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 10px;
}

/* header section style  */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  list-style-type: none;
  margin-right: 30px;
}
nav > ul > li > a {
  text-decoration: none;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}
/*banner style*/

.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  color: #131313;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 700;
}
.banner-desc {
  text-align: center;
}
.banner-img {
  margin-top: 25px;
  width: 100%;
}
/* Main section style  */
main {
  max-width: 1440px;
  margin: 50px auto;
}
.teams-container {
  display: flex;
  align-items: center;
}
.left-4-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.left-4-img img {
  width: 100%;
}
.right-text {
  /* width: 50%; */
  padding-left: 70px;
  padding-right: 70px;
}
.right-text-title {
  color: #727272;
  font-size: 2.9rem;
  font-weight: 500;
}
.span1 {
  color: #131313;
  font-size: 2.9rem;
  font-weight: 700;
}
.span2 {
  color: #ff900e;
  font-size: 2.9rem;
  font-weight: 700;
}

/* features section style  */
.features {
  display: flex;
  margin-top: 130px;
  gap: 100px;
}
.features .section-title {
  margin-top: 20px;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-content .text-light-gray {
  margin-top: 25px;
}
.features-content .features-card {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features-card-title {
  color: #131313;
  font-weight: 600;
  font-size: 1.25rem;
}
.features-img img {
  height: 75%;
}
.ten-years-badge {
  color: #fff;
  border-radius: 8px;
  background: #ff900e;
  width: 330px;
  text-align: center;
  padding: 40px 30px;
  position: relative;
  bottom: 100px;
  right: 70px;
}
.ten-years-badge h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
}
.ten-years-badge p {
  font-size: 1.25rem;
  font-weight: 500;
}

/* facts card style  */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 40px 30px;
}
.facts-card-container .card-stats {
  font-weight: 600;
  color: #424242;
  font-size: 2.8rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-container .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}
/* sponsors styles  */
.sponsors {
  text-align: center;
  margin-top: 20px;
}
.sponsors-desc {
  margin-top: 20px;
}
.sponsors-logo-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 40px;
  align-items: center;
}
.sponsors-logo-container img {
  width: 165px;
}
/* footer section styles  */
footer {
  max-width: 1440px;
  margin: 120px auto;
  border-radius: 8px;
  background: #fff4e7;
  margin-top: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-desc {
  color: #424242;
  text-align: center;
  font-size: 1.35rem;
  font-weight: 400;
  padding: 100px auto;
}

/* responsive style  */
/* Mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  nav > ul,
  .teams-container,
  .facts-card-container,
  .sponsors-logo-container,
  .features {
    flex-direction: column;
  }

  .left-4-img {
    grid-template-columns: 1fr;
  }
  .right-text {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* facts section  */
  .facts-card-container,
  .sponsors-logo-container {
    gap: 10px;
    padding: 20px;
  }
  .features-img img {
    height: 70%;
    width: 70%;
    margin: 0 0 0 30px;
  }
  .ten-years-badge {
    max-width: 200px;
    padding: 10px;
    left: 30px;
    bottom: 20px;
  }
  .ten-years-badge h2 {
    font-size: 1.4rem;
  }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 20px;
  }

  nav,
  .teams-container,
  .sponsors-logo-container,
  .features {
    flex-direction: column;
  }
  .ten-years-badge {
    max-width: 250px;
    padding: 10px;
    left: 30px;
    bottom: 100px;
  }
  .ten-years-badge h2 {
    font-size: 1.8rem;
  }
}
